.deviceInfo {
    display: grid;
    width: 40vw;
    padding-top: 20px;
    border: 3px solid black;
}

.deviceInfo > * {
    margin: 10px 0;
}

.info {
    display: grid;
}

.pingTime {
    display: grid;
}