.loginForm {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.loginForm * {
    margin-bottom: 5px;
}

.loginFormBtns {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.loginFormBtns * {
    margin-bottom: 5px;
}