.device {
    padding: 20px;
    border-radius: 12px;
    background-color: red;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.active {
    background-color: green;
}

.highlight {
    border: 3px solid black;
}