.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.modalContentActive { 
    transform: scale(1);
}

.modalActive {
    opacity: 1;
    pointer-events: all;
}

.btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}